html {
  background: black;
  font-size: 16px;
}

body {
  display: flex;
}

.main-logo-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-style: italic;
  font-weight: bold;
  justify-content: center;
  max-height: 60rem;
  min-height: 60rem;
  width: 100%;

  img {
    display: flex;
    min-width: 20rem;
    max-width: 20rem;
  }

  p {
    color: #ffffff;
    display: flex;
    font-family: 'open_sanslight';
    font-size: 2rem;
    font-style: normal;
    font-weight: light;
    justify-content: center;
    padding-top: 2rem;
  }

}

.footer-info {
  display: inline-block;
}

.copyright-info p {
  font-size: 1rem;
  padding-top: 15rem;
}

.category-dropdown {
  display: flex;
  justify-content: center;
  min-width: 30%;
  padding-top: 3rem;
}

#dropdown-item {
  min-width: 100%;
}

